
{% include "partials/header.njk" %} 
{% include "partials/menu.njk" %}
<section class="gallery__photo">
  
      <div class="container">
    <h1 class="container_h1">{{ title }}</h1>
    <div class="image_container">
    <div class="image"><img src="{{ foto }}" alt="{{ alt }}">
    <p class="image-perex">{{ foto-perex }}</p></div>
    <div class="image"><img src="{{ foto2 }}" alt="{{ alt }}">
    <p class="image-perex">{{ foto-perex2 }}</p></div>
    <div class="image"><img src="{{ foto3 }}" alt="{{ alt }}">
    <p class="image-perex">{{ foto-perex3 }}</p></div>
    <div class="image"><img src="{{ foto4 }}" alt="{{ alt }}">
    <p class="image-perex">{{ foto-perex4 }}</p></div>
    <div class="image"><img src="{{ foto5 }}" alt="{{ alt }}">
    <p class="image-perex">{{ foto-perex5 }}</p></div>
   


</div>
<div class="popup-image">
    <span>&times;</span>
    <img src="{{ foto }}" alt="{{ alt }}">
  
</div>
</div>
     
    </section>

{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %} 
 <script src="/js/script.js"></script>  
 <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script> 
</body>
</html>